<footer>
    <div class="footer-copyright">
        <p class="footer-text">&copy; Quick Flicks</p>
    </div>
    <div class="footer-social-media">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-pinterest"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</footer>

</body>
</html>