<%- include('./partials/header.ejs') %>

    <main>
        <div class="index-main-container">
            <div class="index-left-container">
                <h1 class="intro-message">Welcome to Quick Flicks!</h1>
                <ul class="intro-list">
                    <li>Browse available movies!</li>
                    <li>Sell movies of your own!</li>
                    <li>Connect with other movie lovers!</li>
                </ul>
            </div>
            <div class="index-right-container">
                <!-- <p>Under Construction</p> -->
            </div>
        </div>
        
    </main>

<%- include('./partials/footer.ejs') %>